@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');


:root {
	--family: 'Rajdhani', 'times', Sans-serif;
	--bg-body: #161D30;
	--blue-light: #16F1FF;
	--white-bone: #BEF2F5;
	--white: #C4D3D4;
	--blue-dark: #1F2C4E;
	--border-radius: 2px;
}
.line {
	height: 1px;
	width: 100px;
	background-color: var(--white-bone);
	margin: 23px 0px;
}

body.body {
	background-color: var(--bg-body);
}

section {
	padding-bottom: 100px;
	color: var(--white);
}

/*-----------------------------*/
/*            Navbar           */
/*-----------------------------*/
nav.navbar {
	position: fixed;
	width: 100%;
	z-index: 7000;
}
nav.navbar .nav-items {
	text-align: right;
}
.navbar .nav-items a {
	color: var(--white);
	text-decoration: none;
	padding: 8px 10px;
	transition: .5s;
}
.navbar .nav-items a:hover {
	color: var(--blue-light);
}
.navbar .nav-items a span{
	color: var(--blue-light);
} 
.navbar .nav-items .btn-download {
	background: none;
	color: var(--blue-light);
	border: 1px solid var(--blue-light);
	padding: 0 20px;
	margin-right: 20px;
	border-radius: var(--border-radius);
	transition: .5s;
}
.navbar .nav-items .btn-download:hover {
	background-color: rgba(22, 241, 255, .3);
	background-opacity: .2;
}

.nav-icons {
	position: fixed;
	left: -100px;
	bottom: 100px;
	transform: rotate(-90deg);
}
.nav-icons .line {
	float: left;
}
.nav-icons a {
	font-size: 20px;
	color: var(--white);
	padding: 8px 10px;
	display: inline-block;
	width: fit-content;
	width: -moz-fit-content;
	transform: rotate(90deg);
	transition: .5s;
}
.nav-icons a:hover {
	color: var(--blue-light);
}

.mail-line {
	position: fixed;
	right: -100px;
	bottom: 100px;
	transform: rotate(90deg);
}
.mail-line a {
	color: var(--white);
}
.mail-line .line {
	float: right;
}


/*-----------------------------*/
/*            header           */
/*-----------------------------*/
header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	height: 100vh;
	font-family: var(--family);
	color: var(--white);
	background: rgb(31,44,78);
background: radial-gradient(circle, rgb(145.51, 163.76, 211.49) 0%,rgba(31,44,78,1) .5%, rgba(27,37,64,1) 37%, rgba(22,29,48,1) 70%);
	position: relative;
}
header span {
	color: var(--blue-light);
}
header h2 {
	font-size: 100px;
	color: var(--white-bone);
}
header h1 {
	font-size: 60px;
	color: var(--white);
	margin-top: -30px;
}
header a {
	padding: 8px 20px;
	border-radius: 2px var(--border-radius);
	color: var(--blue-light);
	border: 2px solid var(--blue-light);
	text-decoration: none;
	transition: .5s;
}	
header a:hover {
	background-color: rgba(22, 241, 255, .3);
	background-opacity: .2;
	color: var(--blue-light);
}
/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}
/*---------------------------------*/
/*           About me              */
/*---------------------------------*/

.title {
	color: var(--white);
	display: flex;
	padding: 8px 10px;
}
.title  h3 {
	margin-right: 20px;
}
.title span {
	color: var(--blue-light);
}
.paragraph {
	color: var(--white);
	padding: 15px;
	text-align: justify;
}
.paragraph ul {
	display: inline-block;
}
.paragraph ul li {
	list-style: none;
}
.paragraph ul li i {
	color: var(--blue-light);
	padding: 0 10px;
}


.img-box {
	border-radius: var(--border-radius);
	border: 2px solid var(--blue-light);
	width: 300px;
	height: 300px;
}
.img-box img {
	margin-left: -30px;
	margin-top: -30px;
	width: 300px;
}

/*    Works section    */
.works-section {
	display: flex;
	align-items: center;
	padding:30px;
}
.works {
	position: relative;
}
.works .filter {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(22, 241, 255, .3);
	transition: .5s;
}
.works .filter:hover {
	opacity: 0;
}
.title-works {
	margin-right:220px;
	text-align: right;
}
.title-works.left {
	text-align: left;
}

.title-works span {
	color: var(--blue-light);
}
.title-works h4 {
	color: var(--white);
	font-size: 30px;
}
.works-description {
	z-index: 5000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin-left: -200px;
}
.works-description .description {
	background-color: var(--blue-dark);
	width: 500px;
	padding: 10px 12px;
	color: var(--white);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	z-index: 5000;
}
.works-description a {
	display: block;
	text-align: right;
	color: var(--white);
	padding: 8px;
	font-size: 22px;
	transition: .5s;
	margin-right: 220px;
}
.works-description a:hover {
	color: var(--blue-light);
}

/*    Works section two   */
.works-section-two .works-description {
	text-align: left;	
}
.works-description.left {
	z-index: 5000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin-left: 200px;
}
.works-description.left a {
	text-align: left;
}



/*---------------------------*/
/*      Otros Proyectos      */
/*---------------------------*/
.proyects {
	color: var(--white);
	text-align: center;
}
.proyects h5 {
	color: var(--white-bone);
	font-size: 22px;
}
.proyects h5 span {
	animation: charge 1s infinite;
	animation-delay: calc(0.5 *(--1));
}
@keyframes charge {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
}
.proyects h3 {
	text-align: center;
}
.box-proyects {
	position: relative;
	background-color: var(--blue-dark);
	padding: 12px;
	border-radius: var(--border-radius);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	transition: .4s;
}
.box-proyects:hover {
	transform: scale(1.1);
}
.box-proyects .icons {
	display: block;
}
.box-proyects i {
	font-size: 22px;
}
.box-proyects i.fa-folder {
	color: var(--blue-light);
}
.box-proyects i.fa-external-link-alt {
	color: var(--white);
	position: absolute;
	right: 20px;
}
.box-proyects i.fa-external-link-alt:hover {
	color: var(--blue-light);
}
.box-proyects a {
	color: var(--white-bone);
	text-decoration: none;
}
.box-proyects a:hover {
	color: var(--white-bone);
}
.break {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 30px;
}
.break h3 {
	color: var(--white-bone);
}
.developing {
	position: relative;
}

.developing-div {
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	height: 110%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*---------------------------*/
/*      03 contact me      */
/*---------------------------*/
.form {
	text-align: center;
}
.form input, .form textarea {
	padding: 5px 8px;
	background-color: rgba(22, 241, 255, .3);
	border-radius: var(--border-radius);
	border: none;
	color: var(--white);
	margin: 5px;
}
.form .name-email {
	display: flex;
}
.form .name-email input {
	width: 50%;
}	
.form .subject input {
	width: 99%;
	display: block;
	margin: 5px;
}
.form .message textarea{
	width: 99%;
	min-height: 100px;
}
.form button {
	border: var(--border-radius);
	background: none;
	border: 2px solid var(--blue-light);
	color: var(--blue-light);
	padding: 10px 20px;
	text-align: center;
	transition: .5s;
}
.form button:hover {
	background-color: rgba(22, 241, 255, .3);
	color: var(--blue-light);
}

.mail-button {
	text-align: center;
}

.contact a.btn-mail {
	padding: 8px 20px;
	border-radius: 2px var(--border-radius);
	color: var(--blue-light);
	border: 2px solid var(--blue-light);
	text-decoration: none;
	transition: .5s;
}	
.contact a.btn-mail:hover {
	background-color: rgba(22, 241, 255, .3);
	background-opacity: .2;
	color: var(--blue-light);
}

.redes-info {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 25px;
}
.redes-info .redes {
	text-align: center;
}
.redes-info .redes i {
	font-size: 22px;
	padding: 10px;
	color: var(--white);
}
.redes-info a {
	color: var(--white);
	text-decoration: none;
}
.map-section {
	position: relative;
}
.box-info {
	background-color: #000;
	color: #fff;
	padding: 10px;
	position: absolute;
	top: 20px;
	right:20px;
}
.box-info i {
	color: var(--blue-light);
	margin-right: 10px;
}
.map-section iframe {
	width: 100%;
}


/*       MEDIA QUERY       */
@media (max-width: 770px) { 
	.works-description {
		display: none;
	}
	.works-description.left {
		display: none;
	}
}
@media (max-width: 620px) { 
	
	.navbar .logo {
		display: none;
	}
	.nav-icons {
		display: none;
	}
	.mail-line {
		display: none;
	}
	.navbar {
		display: none;
	}
}
@media (max-width: 400px) {
	
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: ;
		height: 100%;
		padding-top: 100px;
		margin-bottom: 100px;
	}
	header h2 {
		font-size: 70px;
	}
	header h1 {
		font-size: 30px;
	}
	header p {
		text-align: flex-justify;
	}

	.about-me {
		text-align: justify;
	}
	.img-box {
		border-radius: var(--border-radius);
		border: 2px solid var(--blue-light);
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}
	.img-box img {
		margin-left: 0px;
		margin-top: 0px;
		width: 300px;
	}

	.box-proyects {
		margin-top: 20px;
	}
	.break {
		text-align: justify;
	}

	.proyects {
		margin-top: 100px;
	}

	.contact {
		text-align: justify;
	}
}
