@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
:root{
	--red: #b50a0a;
	--grey: #ededed;
	--htres: 50px Anton, sans-serif;
	--hcuatro: 30px Times;
	--hcinco: 40px Anton, sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body {
  	width: 100%;
  	background-color: var(--grey);
}

/*    HEADER     */
.header .contenedor nav h5 {
	font: var(--hcinco);
}
.header .contenedor nav {
	display: inline-block;
	width: 100%;
}
.header .contenedor nav ul li {
	text-align: right;
	list-style: none;
}
.header .contenedor nav ul li a {
	color: #000;
}
.header .contenedor nav ul li a:hover {
	color: var(--red);
}
.header .title-header {
	height: 50vh;
	display: flex;
	align-items: center;
}
.header .title-header h1 {
	font-size: 100px;
	font-family: times;
	z-index: 1000;
}
.header .text-header {
	height: 50vh;
}
.header .text-header h2 {
	font-size: 130px;
	font-family: times;
	text-align: right;
	line-height: 100px;
}


.name {
	font: var(--hcuatro);
}

.col.nav {
	display: flex;
	justify-content: flex-end;
	text-align: right;
}
.col.nav ul li {
	list-style: none;
}
.col.nav ul li a {
	color: #000;
}
.col.nav ul li a:hover {
	color: var(--red);
}
.header.title h1 {
	font-size: 200px;
}


.skills {
	margin-bottom: 200px;
}
.skills h3 {
	font: var(--htres);
}
.skills h3::before {
	content: url(./img/okey.gif);
	opacity: 0;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	transition: .8s;
}
.skills h3:hover:before{
	opacity: 1;
}
.skills .list h4 {
	font: var(--hcuatro);
}
.skills .list ol li {
	font: var(--hcuatro);
}
.skills .list ol li.none {
	opacity: 0;
}
.header .text-header h2 span {
	color: var(--red);
}


.big-circle {
	width: 500px;
	height: 500px;
	background-color: var(--red);
	position: absolute;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.big-circle .little-circle {
	width: 300px;
	height: 300px;
	background-color: var(--grey);
	border-radius: 50%;
	z-index: 1;
}
.circle {
	position: absolute;
	width: 200px;
	height:200px ;
	border-radius: 50%;
	border: 50px solid var(--red);
	right: 30px;
}
.circle-text {
	position: absolute;
	width: 200px;
	height:200px ;
	border-radius: 50%;
	background: var(--red);
	z-index: -1;
}
.works-title h3 {
	font: var(--htres);
}
.about {
	margin-bottom: 200px;
}
.about h3 {
	font: var(--htres);
}
.about p {
	font-size: 20px;
}

/*    WORKS      */
.works {
	margin-bottom: 200px;
	background-color: var(--red);
	padding-bottom: 100px;
}
.works-title h3{
	font: var(--hcinco);
	color: var(--grey);
}
.works-projects h3 {
	font: var(--hcuatro);
}

.works-projects h3 span {
	animation: charge 1s infinite;
	animation-delay: calc(0.5 *(--1));
}
@keyframes charge {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
}

/*   Contact     */
.contact {
	padding-bottom: 100px;
	background-color: var(--grey);
}
.contact-title h5 {
	font: var(--hcinco);
}
.box-contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);	
	grid-auto-rows: minmax(auto, 45%);
}
.box-contact .directions {
	text-align: center;
	z-index: 5000;
}
.contact-info ul li {
	font: var(--hcinco);
	list-style: none;
}
.contact-info ul li a {
	color: var(--red);
	padding: 5px 10px 5px 10px;
}
.contact-info ul li a:hover {
	background-color: var(--red);
	color: var(--grey);
	text-decoration: none;
}


@media (max-width: 600px) {
	.body .navbar {
		display: none;
	}
	.header .text-header h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.header .title-header h1 {
		font-size: 60px;
		font-family: times;
		z-index: 1000;
	}
	.big-circle {
		width: 200px;
		height: 200px;
		background-color: var(--red);
		position: absolute;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}
	.big-circle .little-circle {
		width: 100px;
		height: 100px;
		background-color: var(--grey);
		border-radius: 50%;
		z-index: 1;
	}
}